# dependencies
node_modules
bower_components

# build
build

# misc
npm-debug.log
yarn-error.log
package-lock.json

### IntelliJ IDEA ###
/.idea/*

/decoders/dicom/dicomElementsWrapper.js
/decoders/dicom/dicomParser.js
/decoders/dicom/logger.js
